@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6B6B6B;
  border-radius: 60px;
}

/* FOR BACKGROUND */
body,
html {
  height: 100%;


}

.back-img {
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/171/111/original/white-background-with-orange-geometric-free-vector.jpg");
  background-position: center;
  /*   background-repeat: no-repeat; */
  background-size: cover;
}

div.avatar {
  background-image: url("https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  object-fit: cover;

}


p.super-small {
  font-size: 10px;
}

